.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 10%;
  height: 5rem;
  background-color: #202020;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: "Fira", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94fdfd;
}

.logo a {
  text-decoration: none;
  color: #94fdfd;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.navigation a {
  text-decoration: none;
  color: #74dacc;
  font-size: 1rem;
}

.navigation button {
  /* display: inline-block; */
  /* margin: 0; */
  /* padding: 4px 15px; */
  border: none;
  border-radius: 5px;
  background-color: #74dacc;;
  color: #ffffff;
  font-size: 1.5rem;
  /* font-weight: bold; */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation button:hover {
  background-color: #c291e2;
  color: #38015c;
}

.navigation button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 112, 201, 0.5); /* 聚焦时阴影 */
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }

  .navigation button {
    font-size: 1.5rem;
  }
}
